<div class="remodal formBox" data-remodal-id="cooperate">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form class="form form-validate" name="cooperate">

    <input type="hidden" name="project_name" value="">
    <input type="hidden" name="admin_email" value="">
    <input type="hidden" name="form_subject" value="">

    <p class="form__title">Заполните форму</p>
    <p class="form__text">И наш менеджер свяжется с Вами <br> в ближайшее время</p>

    <input class="form__line name" type="text" name="Имя&nbsp;покупателя" placeholder="Ваше имя" required>

    <button class="btn">Узнать условия</button>
  </form>
</div>

<div class="remodal remodal-common" data-remodal-id="modal-thanks">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <p class="thanks__title">Благодарим Вас!</p>
  <p class="thanks__text">Мы свяжемся с Вами <br>в ближайшее время.</p>
</div>
