@import "./helpers/_vars";

@import "./helpers/_mixins";

body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding-right: 0 !important;
	overflow-x: hidden;
	overflow-y: auto;
	background: $bg-color;
	color: #fff;
	font-family: $ff;
	font-size: $fs;
	font-weight: 400;
	line-height: 1.2;
	text-rendering: optimizeSpeed;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	// Firefox Scroll
	scrollbar-width: thin;          /* "auto" or "thin"  */
	scrollbar-color: #f5f5f5 $grey-dark;

	// webkit scroll
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
	}

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $grey-dark;
	}
}

*::selection {
	background-color: #fafafa;
	color: #000;
}

// .mainwrap {
//     scroll-snap-type: y mandatory;
// }

// section {
//     content-visibility: auto; /* this is the thing that delays painting */
//     contain-intrinsic-size: 1px 1000px; /* this is the guess at the height of the content, and also saying width doesn't matter */
// }

// img {
//     user-select: none !important;
//     pointer-events: none !important;
// }

// main img {
    /* Only render when in viewport */
    // content-visibility: auto;
// }


// .b-lazy {
// 	transition: opacity .5s linear;
// 	max-width: 100%;
// 	opacity: 0;
// }
// .b-lazy.b-loaded {
// 	opacity: 1;
// }
